// レスポンシブ
@mixin sp-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.Latest-Articles {
  max-width: 1152px;
  margin: 0 auto;

  @include sp-screen {
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
}

.container-articles {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 60px;

  @include sp-screen {
    width: 100%;
  }
}



.box-articles1 {
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
  flex-wrap: wrap;
  gap: 60px;


  // @include sp-screen{
  //   gap: 0px;
  //   display: flex;
  // }
}

// 読み込んだあとの表示場所
.load{
  @extend .box-articles1;
}


// hover-shadow
.ariticles {
  transition: all .2s ease-in-out;
  width: 300px;
  height: 400px;
  margin-bottom: 40px;
  position: relative;

  @include sp-screen {
    margin: 0 auto;
  }


  .underline {
    // transition: 0.5s;
    position: absolute;
    top: 88%;
    right: 4%;
    font-size: 13px;
    // display: flex;
    // border-bottom: solid 1px black;
    // padding-bottom: 10px;

    .underline-more {
      transition: 0.5s;
      border-bottom: solid 1px black;
      padding-bottom: 10px;
      width: 20px;
      position: absolute;
      right: 0;
    }
  }

  &:hover {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    .underline-more{
      width: 80px;
    }
  }


  p {
    text-align: left;
    padding: 8px 12px 0;
    font-size: 15px;
  }

  time {
    padding-left: 12px;
    font-size: 15px;
  }
}