// レスポンシブ
@mixin sp-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.Latest-Articles {
  max-width: 1152px;
  margin: 0 auto;

  @include sp-screen {
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
}

.container-articles {
  width: 1024px;
  // background-color: rgb(231, 161, 231);
  margin: 0 auto;
  margin-bottom: 60px;

  @include sp-screen {
    width: 100%;
  }
}


.box-articles1 {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
  // align-items: center;
  // padding-left: ;
  // padding-right: ;
}


// hover-shadow
.ariticles {
  transition: all .2s ease-in-out;
  width: 300px;
  height: 400px;
  margin-bottom: 40px;
  position: relative;

  @include sp-screen {
    margin: 0 auto;
  }

  .underline {
    position: absolute;
    top: 90%;
    right: 4%;
    font-size: 13px;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    // width: 20px;
  }

  &:hover {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
  }
}