// レスポンシブ
@mixin sp-screen {
    @media screen and (max-width: 767px) {
        @content;
    }
}

// header
header {

    @include sp-screen{
        position: relative;
        overflow: hidden;
    }

    ul {
        display: flex;
        justify-content: end;

        @include sp-screen{
            display: block;
            text-align: center;
            background-color: rgba(215, 214, 214, 0.415);
            position: absolute;
            width: 100%;
            top: 132px;
            left: 352px;
            z-index: 1;
        }
    }

    li {
        font-size: 20px;
        padding: 50px 70px 50px 15px;

        @include sp-screen{
            padding: 20px 0 20px 0;
        }
    }
}

// kv
#kv {
    width: 1152px;
    margin: 0 auto;
    position: relative;

    @include sp-screen{
        width: 100%;
        text-align: center;
    }

    #logo {
        position: absolute;
        top: -115px;

        @include sp-screen{
            position: static;
        }

        img{
            @include sp-screen{
                width: 30%;
                padding: 20px 0;
            }
        }
    }

    #main-visual {
        display: flex;
        justify-content: center;
    }

    #visual-text {
        position: absolute;
        top: 235px;
        right: 0px;

        @include sp-screen{
            top: 165px;
            right: 91px;
            left: 20px;
        }
    }

    p {
        padding: 10px 0;
        font-size: 23px;

        @include sp-screen{
            font-size: 18px;
        }

        .br-sp{
            display: none;

            @include sp-screen{
                display: block;
            }
        }
    }
}

// footer
footer {
    background-color: black;
    padding: 50px;
    text-align: center;

    span {
        color: white;
        font-size: 15px;
    }
}